.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  width: 50px;
}

a {
  text-decoration: none;
}

.selected {
  border-bottom: 1px solid black;
}

.nav-class {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
